<h3>Khách hàng</h3>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <span class="position-absolute search"><i class="fa fa-search"></i></span>
                    <input class="form-control w-100 order-table" id="search" placeholder="Tìm kiếm">
                </div>
            </div>
            <div class="container table-responsive order-table mt-4 pt-2 px-2">
                <div class="row pt-2 mx-2">
                    <table class="table table-responsive table-borderless align-middle">
                        <thead class="table-info">
                            <tr class="bg-light">
                                <th scope="col" width="5%">ID</th>
                                <th scope="col" width="30%">Họ tên</th>
                                <th scope="col" class="text-center" width="30%"><span>Tổng chi</span></th>
                                <th scope="col" class="text-center" width="10%">Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody id="listC">
                            {{#each listCus}}
                            <tr>
                                <td>{{id_user}}</td>
                                <td><img src="../img/user/avatar.jpg" width="25">{{name}}</td>
                                <td class="text-center"><span class="fw-bolder">{{tongchi}}</span></td>
                                <td class="text-center">
                                    <button class="btn btn-xs btn-light detail-btn">
                                        <i class="fa-solid fa-angles-down" style="color: #a5d737;"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="6" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                                <div class="avatar-container">
                                                    <img class="avatar-img" src="../img/user/avatar.jpg  " alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Họ tên</th>
                                                            <td>{{name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Email</th>
                                                            <td>{{email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Username</th>
                                                            <td>{{username}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th width="20%">Tổng chi</th>
                                                            <td>{{tongchi}}</td>
                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    let search = document.getElementById('search');
    let listC = document.getElementById('listC');
    function activeButton() {
        var buttons = document.querySelectorAll(".detail-btn");

        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                var parentRow = this.closest("tr");
                var nextRow = parentRow.nextElementSibling;

                if (nextRow && nextRow.classList.contains("detail-row")) {
                    nextRow.classList.toggle("open");
                }
            });
        });
    }
    function render(data) {
        let content = '';
        for (let i = 0; i < data.length; i++) {

            content += `<tr>
                                <td>${data[i].id_user}</td>
                                <td><img src="../img/user/avatar.jpg" width="25">${data[i].name}</td>
                                <td class="text-center"><span class="fw-bolder">${data[i].tongchi == null ? 0 : data[i].tongchi}</span></td>
                                <td class="text-center">
                                    <button class="btn btn-xs btn-light detail-btn">
                                        <i class="fa-solid fa-angles-down" style="color: #a5d737;"></i>
                                    </button>
                                </td>
                        </tr>
                        <tr class="detail-row">
                                <td colspan="6" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                                <div class="avatar-container">
                                                    <img class="avatar-img" src="../img/user/avatar.jpg  " alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Họ tên</th>
                                                            <td>${data[i].name}</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Email</th>
                                                            <td>${data[i].email}</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Username</th>
                                                            <td>${data[i].username}</td>
                                                        </tr>

                                                        <tr>
                                                            <th width="20%">Tổng chi</th>
                                                            <td>${data[i].tongchi == null ? 0 : data[i].tongchi}</td>
                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                        </tr>`
        }
        listC.innerHTML = content;
        activeButton();
    }

    search.addEventListener('input', async function () {
        let value = search.value;
        //console.log(value);
        let data = { keyword: `${value}` };
        //console.log(data);
        const res = await fetch(`http://localhost:3000/admin/customers/seachCus`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        console.log(res)
        const resJson = await res.json()
        //console.log(resJson);
        render(resJson.data);
    })
</script>