<h4>Products</h4>
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-md-12">
			<div class="my-2 d-flex justify-content-between align-items-center">
				<div class="position-relative">
					<span class="position-absolute search"><i class="fa fa-search"></i></span>
					<input class="form-control w-100 order-table" id="searchTxt" placeholder="Search by name">
				</div>

				<!-- Button trigger modal -->
				<div>
					<button type="button" class="btn modal-button" data-bs-toggle="modal" data-bs-target="#addProductModal">
						Thêm mặt hàng
					</button>

					<!-- Modal -->
					<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="addProductModalLabel">Mặt hàng mới</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="container-fluid" style="height: 100%;">
										<form id="addProductForm" action="/admin/products/add" method="POST" style="height: 100%;">
											<div class="row" style="height: 100%;">
												<div class="col-md-5">
													<div class="row" style="height: 70%;">
														<img id="frame" src class="img-fluid" style="max-width: 400px;" />
													</div>
													<div class="row mt-5">
														<input name="image" class="form-control-file border" accept="image/*" type="file" id="formFile"
															onchange="preview()">
													</div>
												</div>
												<div class="col-md-7">
													<div class="form-group mt-2">
														<label for="name">Tên mặt
															hàng</label>
														<input type="text" class="form-control" name="name" placeholder="Nhập tên mặt hàng">
													</div>
													<div class="form-group mt-2">
														<label for="cost">Giá gốc</label>
														<input type="number" class="form-control" name="cost" placeholder="Nhập giá gốc mặt hàng" required>
													</div>
													<div class="form-group mt-2">
														<label for="price">Giá bán</label>
														<input type="number" class="form-control" name="price" placeholder="Nhập giá bán mặt hàng" required>
													</div>
													<div class="form-group mt-2">
														<label for="discount">Giảm
															giá</label>
														<input type="number" class="form-control" name="discount" placeholder="Nhập % giảm giá" required>
													</div>
													<div class="form-group mt-2">
														<label for="quantity">Số lượng</label>
														<input type="number" class="form-control" name="quantity" placeholder="Nhập số lượng" required>
													</div>
													<div class="form-group mt-2">
														<label for="type">Loại</label>
														<select name="type" id="type" required>
															<option value="Món ăn" selected>Món ăn</option>
															<option value="Đồ uống">Đồ uống</option>
														</select>
													</div>
													<div class="form-group mt-2">
														<label for="detail">Mô tả</label>
														<textarea class="form-control" name="describe" rows="2" placeholder="Nhập mô tả"></textarea>
													</div>
												</div>
											</div>

										</form>
									</div>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
									<button type="button" class="btn btn-primary" onclick="addProduct()">Thêm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container table-responsive order-table mt-4 pt-2 px-2">
				<div class="row pt-2 mx-2">
					<table class="table table-responsive table-borderless align-middle">
						<thead class="table-info">
							<tr class="bg-light">
								<th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
								<th scope="col" width="5%">#</th>
								<th scope="col" width="30%">Tên mặt hàng</th>
								<th scope="col" class="text-center" width="20%"><span>Giá gốc</span></th>
								<th scope="col" class="text-center" width="10%"><span>Giá bán</span></th>
								<th scope="col" width="10%" class="text-center">Giảm giá</th>
								<th scope="col" width="10%" class="text-center">Số lượng</th>
								<th scope="col" class="text-center" width="10%">Chi tiết</th>
							</tr>
						</thead>
						<tbody id="products-list">
							{{#each data.items}}
							<tr>
								<th scope="row"><input class="form-check-input" type="checkbox"></th>
								<td>{{this.id_item}}</td>
								<td>{{this.name}}</td>
								<td class="text-center">{{this.cost}}&#8363</td>
								<td class="text-center fw-bold">{{this.price}}&#8363</td>
								<td class="text-center">{{this.discount}}%</td>
								<td class="text-center">{{this.quantity}}</td>
								<td class="text-center">
									<button class="btn btn-xs btn-light detail-btn">
										<i class="fa-solid fa-angles-down" style="color: #a5d737;"></i>
									</button>
								</td>
							</tr>
							<tr class="detail-row">
								<td colspan="8" class="detail-col">
									<div class="container-fluid detail-table">
										<div class="row gap-5 p-3 mb-5 w-100 m-0">
											<div class="col-5 d-flex justify-content-between flex-column p-2 rounded-3">
												<div class="mb-5">
													<img src="img/user/logo.png" alt="HCMUS Canteen" width="300" />
												</div>
												<div>
													<img src="{{this.image}}" alt style="object-fit: cover;" width="400" />
												</div>
											</div>
											<div class="col-6">
												<div style="color: #88D49A;" class="fw-bold fs-4 mb-2">{{this.name}}</div>
												<hr />
												<div class="d-flex justify-content-between fw-bold fs-5">
													<p>Số lượng</p>
													<p>{{this.quantity}}</p>
												</div>
												<hr />
												<div class="row gap-3 align-items-center">
													{{! }}
													{{!-- <div class="col-2 rounded-circle" style="background-color:#A7E8B7; width:50px; height:50px;">
													</div> --}}
													{{!-- <div class="col-10">Cơm gà
														là món ăn ngon, phù hợp
														với mọi người, tiện
														lợi cho các bữa ăn trong
														ngày.</div> --}}

													{{! }}
													<div class="col-2 rounded-circle" style="background-color:#A7E8B7; width:50px; height:50px;">
													</div>
													<div class="col-10">{{#if this.describe}} {{this.describe}} {{else}}Sản phẩm
														được chế biến từ nguyên
														liệu tươi ngon,
														nguồn gốc rõ ràng. {{/if}}</div>

													{{! }}
												</div>
												<hr />
												
												<div class="d-flex justify-content-between fw-bold fs-5 mb-3">
													<p>Giá</p>
													<p>{{this.price}} VNĐ</p>
												</div>
												<div class="d-flex justify-content-between fw-bold fs-5">
													<p>Giảm giá</p>
													<p>{{this.discount}}%</p>
												</div>
												<hr />
												<div class="d-flex justify-content-between fw-bold fs-5 mb-4">
													<p>Thành tiền</p>
													<p style="color: #5B9A6A;">{{this.saleprice}}
														VNĐ</p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md text-end">
												<div class="hidden-sm hidden-xs btn-group">
													<button class="btn btn-xs btn-success">
														<i class="ace-icon fa fa-check bigger-120"></i>
													</button>

													<button class="btn btn-xs btn-info">
														<i class="ace-icon fa fa-pencil bigger-120"></i>
													</button>

													<button class="btn btn-xs btn-danger">
														<i class="ace-icon fa fa-trash bigger-120"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div class="row mx-2 justify-content-end d-flex">
					<nav style="width:auto">
						<ul class="pagination" id="pages-list">
                            {{#times data.pages}}
                            <li class="page-item"><a class="page-link paging-btn{{#ifEquals this @root.data.page}} active{{/ifEquals}}"
                                    href="#">{{this}}</a></li>
                            {{/times}}
                        </ul>
					</nav>
				</div>
			</div>

		</div>
	</div>
</div>