<section class="content my-5 d-flex flex-column">
    {{!-- Search bar --}}
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <form class="d-flex" role="search" action="/user/menu/{{direct}}" method="get">
                <input class="form-control me-2 " style="width: 300px;" type="search" name="nameFood"
                    placeholder="What do you want to order today ?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {{!-- Navigation --}}
    <div class="container-fluid" style="margin-top: 20px;">
        <ul class=" d-flex flex-row justify-content-between">
            <li class="nav-item">
                <a class="nav-link active" href="/user/menu"><i class="fa-solid fa-location-dot"
                        style="color: #ff5c28;"></i>
                    <span id="foodLink">Đặt gần đây</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/menu/promotion"> <i class="fas fa-thumbs-up" style="color: #ff5c28;"></i><span
                        id="foodLink"> Đề cử</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/menu/new"><i class="fa-solid fa-medal"
                        style="color: #ff5c28;"></i><span id="foodLink"> Món mới</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/menu/bestsell"> <i class="fas fa-fire" style="color: #ff5c28;"></i><span
                        id="foodLink"> Bán chạy</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/menu/favorite"><i class="fa-solid fa-star"
                        style="color: #ff5c28;"></i><span id="foodLink"> Yêu thích nhất</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/menu/all"><i class="fa-solid fa-square"
                        style="color: #ff5c28;"></i><span id="foodLink"> Tất cả</span></a>
            </li>

        </ul>
        <div class="progress bg-secondary" style="height: 6px; margin-top: 8px; ">
            {{{progressbar index}}}
            <div class="progress-bar" role="progressbar" style="width: 9%; background-color: #ff5c28;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    </div>
    {{!-- Data of food --}}
    <div class="container">
        <div class="row">
            {{#each food}}
            <div class="col-3 mb-2">
                <div class="card text-bg-secondary" style="width: 20rem; height: 31rem;">
                    <a href="/user/menu/{{this.id_item}}"><img src="{{this.image}}" class="card-img-top" alt="food"></a>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{this.name}}</h5>
                        <p class="card-text" style="text-align: center;">Giá bán: {{this.price}} đ</p>
                        <a style="margin-left: 145px;" href="/user/cart/{{this.id_item}}" class="btn btn-warning rounded-pill"><i class="fa-solid fa-cart-shopping"></i>
                            <br><b>Thêm vào giỏ</b></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>


        {{!-- Page navigation --}}
        <nav class="d-flex justify-content-center p-3">
             {{#if all}}
                <ul class="pagination m-0">
                <li class="page-item page-prev">
                    <span class="page-link">&laquo;</span>
                </li>
                <li class="page-item active">
                    <span class="page-link page-number">{{currentPage}}/{{totalPage}}</span>
                </li>
               
                <li class="page-item page-next">
                    <span class="page-link">&raquo;</span>
                </li>
            </ul>
                {{else}}
                 <ul class="pagination m-0">
                <li class="page-item page-prev">
                    <a href="#" class="page-link">&laquo;</a>
                </li>
                {{#times totalPage}}
                {{!-- <li class="page-item {{#ifEquals this ../currentPage}}active{{/ifEquals}}">
                    <span class="page-link page-number">{{this}}</span>
                </li> --}}
                <li class="page-item"><a href="#" class="page-link page-number{{#ifEquals this ../currentPage}} active{{/ifEquals}}"
                                    >{{this}}</a></li>
                {{/times}}
                <li class="page-item page-next">
                    <a href="#" class="page-link">&raquo;</a>
                </li>
            </ul>
                {{/if}}
        </nav>
    </div>


</section>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const currentPage = Number.parseInt(urlParams.get('currentPage')) || 1;
  document.querySelectorAll('.page-number').forEach(page => {
    page.addEventListener('click', e => {
      urlParams.set('currentPage', page.innerText);
      window.location.search = urlParams;
    });
  });

  document.querySelector('.page-prev .page-link').addEventListener('click', e => {
    if (currentPage > 1) {
      urlParams.set('currentPage', currentPage - 1);
      window.location.search = urlParams;
    }
  });

  document.querySelector(`.page-next .page-link`).addEventListener('click', e => {
    if (currentPage < {{ totalPage }}) {
    urlParams.set('currentPage', currentPage + 1);
    window.location.search = urlParams;
  }
  });

  if (currentPage === 1) {
    document.querySelector('.page-prev').classList.add('disabled');
  }

  if (currentPage === {{ totalPage }}) {
    document.querySelector('.page-next').classList.add('disabled');
  }
</script>